richlistitem[type~="Search"] > .ac-title-box > .ac-type-icon {
  list-style-image: url("chrome://browser/skin/Search.png");
}

richlistitem[type~="Answer"] > .ac-title-box > .ac-type-icon {
  list-style-image: url("Answer2.png");
}

richlistitem[type~="Answer"] > .ac-url-box {
  visibility: hidden;
}

richlistitem[type~="Definition"] > .ac-title-box > .ac-type-icon {
  list-style-image: url("Dictionary1.png");
}

richlistitem[type~="Abstract"] > .ac-title-box > .ac-type-icon {
  list-style-image: url("info.png");
}

richlistitem[type~="Similar"] > .ac-title-box > .ac-type-icon {
  list-style-image: url("approximate.png");
}
